@model WebAPI.Models.Subscriber

@{
    //ViewBag.Title = "Subscribers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Subscribers details</h2>
<style>
th{
    width:220px;
    height: 24px;
}
td {
    width: 220px;
    height: 24px;
}

</style>
<div>
    <table id="tblSubscribers">
        <tr>
            <th>Subscriber ID</th>
            <th>Subscriber Name</th>
            <th>Email Address</th>
            <th>Age</th>
            <th>Username</th>
            <th>Edit</th>
            <th>Delete</th>Edit details
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("https://localhost:44378/Home/GetSubscribersJson", function (data) {
            var dataSub = '';
            $.each(data, function (key, value) {
                dataSub += '<tr>';
                dataSub += '<td>' + value.SubscriberID + '</td>';
                dataSub += '<td>'+value.SubscriberName+'</td>';
                dataSub += '<td>'+value.SubscriberEmail+'</td>';
                dataSub += '<td>'+value.SubscriberAge+'</td>';
                dataSub += '<td>' + value.SubscriberUsername + '</td>';
                dataSub += '<td>' + '<button><a href="@Url.Action("EditSubscriber","Home", new {  })">Edit details</a></button>' + '</td>';
                dataSub += '<td>' + '<button><a href="@Url.Action("DeleteSubscriber","Home", new {  })">Delete Subscriber</a></button>' + '</td>';
                dataSub += '</tr>';
            });
            $('#tblSubscribers').append(dataSub);
        });
    });
</script>